* {
    margin: 0;
    padding: 0;
}


.input {
    text-align: center;
    padding: 15px 30px;
    background-color: rgba(0, 0, 0, 0.884);
    color: white;
    height: 97vh;
    display: flex; 
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.body {
    background-color: black;
}

.input h2 {
    font-size: 36px;
}

.input #btn{
    position: relative;
    background: #333;
    color: #fff;
    cursor: pointer;
    font-size: 24px;
    display: inline-block;
    padding: 10px 15px;
    border-radius: 8px;
}

.input #btn:active{
        background-color: rgba(127, 255, 212, 0.493);
        color: black;
}

.input input {
    border-radius: 8px;
    width: 15%;
    letter-spacing: 2px;
    outline: none;
    position: relative ;
    padding: 0 20px;
    border: none;
    height: 60px;
}